

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color:#6b6b6b;
  background: #fff;
  margin: 0;
  padding: 0;
  line-height: normal; font-weight: 400;
display: flex;
min-height: 100%;
flex-direction: column;
}

html {
    height: 100%;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, form, input, select, div, textarea {
  padding: 0;
  margin: 0
}
img {
  border: none;
  max-width: 100%;
  height: auto
}
.clear {
  margin: 0;
  padding: 0;
  clear: both
}
.after:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden
}
a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  outline: none;
  transition: all 0.3s;
  transition: all 500ms ease-in-out
}
a:hover {
  text-decoration: none
}

button{transition: all 0.3s;
  transition: all 500ms ease-in-out;}
img {
  max-width: 100%;
}
.bgimgBreakFast {
    background:url(../images/breakfast_bg_image.jpg) no-repeat center center;
   /* height: 100%;*/
    background-size: cover; padding-bottom: 80px; 
    /* height: 100vh; */
    position: absolute;
bottom: 0;
top: 0;
width: 100%;
}

.topNav{padding:12px 15px; text-align:center;}
.topNav ul{list-style-type:none; margin:0; padding:0;}
.topNav ul li{display:inline-block; margin: 0 2px;}
.topNav ul li a{background:#34322a; color:#fff; font-size:14px; padding:10px; text-decoration:none; display: inline-block;}


.navbarBotomNav {text-align:center; background-color: #333;}
.navbarBotomNav ul{list-style-type:none; margin:0; padding:0;}
.navbarBotomNav ul li{display:inline-block; margin: 0 2px;}
.navbarBotomNav ul li a{padding:6px 8px; text-decoration: none; font-size: 10px; color:#fff; display: inline-block;}
.navbarBotomNav ul li a:hover{background: #ddd; color: black;}

.modulCustom{width: 100% !important; background: none;}

.mainContainerFront {
    /* display: grid;
    flex: 1 0 auto; */
    align-items: center;
    /* padding: 0 15px 0 15px; */
    padding: 12% 15px 0 15px;
    /* height: 100%; */
}
.mainContainerFront .logoImg{max-width:150px; width:100%; margin:0 auto;}

.footerFront {
    /*position: fixed;
    left: 0;
    bottom: 0;*/
    width: 100%;
    background-color: #00477E;
    color: white; padding:10px;
    text-align: center; position: fixed; bottom: 0; left: 0;
}
.footerFront p{color: #fff;font-size: 12px;margin: 0;padding: 0;line-height: 17px;}
.footerFront p a{text-decoration:underline; color:#fff;}
.footerFront p a:hover{text-decoration:none;}

.modalDialogCustom{max-width: 700px;
  margin: 0 auto;
  padding: 50px 15px; background: none;
  border: none;}

.modalDialogCustom .modal-content{background: rgba(255,255,255,0.88); border: none; padding: 15px;}
  
.modalDialogCustom .closeCustom{position: absolute;top: 2px;right: 2px;background: #fff;color: #000;width: 30px;height: 30px;z-index: 999;
	opacity: 1; font-size: 25px; border: none;}
.modalCustom{padding-left:0 !important;}
.menuSecGroup{width:100%;}
.menuSecGroup .menuSecGroupImg{width:100%; margin-top: 16px;}
.menuSecGroup .menuSecGroupTitle{color: #fff; background-color: #000; padding:12px 15px;}
.menuSecGroup .menuSecGroupTitle h5{font-size:18px; color:#fff; font-weight:400;}
.menuSecGroup .menuSecGroupTitle h6{font-size:16px; color:#fff; font-weight:400;}
.menuSecGroup .menuSecGroupList{padding:15px;}

.menuSecGroup .menuSecGroupListNew{padding:15px 0;}

.menuSecGroup .menuSecGroupListGroup{font-size:13px; color:#000; border-bottom: #bfbdbd solid 1px; margin-bottom: 5px;}
.menuSecGroup .menuSecGroupListGroup .menuName{width:90%;}
.menuSecGroup .menuSecGroupListGroup .menuPrice{width:10%;}


.menuSecGroup .menuSecGroupListGroup table.menuTable td{padding:3px 0;}
.menuSecGroup .menuSecGroupListGroup table.menuTable{margin-bottom:4px;}

.menuSecGroup .menuSecGroupListGroup p.descroption{padding: 7px;background: #F2F2F2;border-radius: 5px;font-size: 12px;color: #515050;}


.menuSecGroup .menuSecGroupListGroupNew{font-size:13px; color:#000; margin-bottom: 5px;}
.menuSecGroup .menuSecGroupListGroupNew .menuAllList{width:100%; padding: 8px 0 8px 0; margin: 0; border-bottom: #bfbdbd solid 1px;}

.menuSecGroup .menuSecGroupListGroupNew tr.menuAllListTr:last-child .menuAllList{border-bottom: none;}

.menuSecGroup .menuSecGroupListGroupNew .menuAllList button{border-radius: 3px;  background: #121313; font-size: 14px; padding: 6px 8px; border: none; color: #fff;
  line-height: 16px;}

.menuSecGroup .menuSecGroupListGroupNew .menuAllList h3{font-weight: 400; font-size: 20px; line-height: 20px; padding-bottom: 5px;}
.menuSecGroup .menuSecGroupListGroupNew .menuAllList h3 span{font-weight: 400; font-size: 14px;}

.notification{background: rgba(0,0,0, 0.9);  padding:10px;  border-radius: 5px;}
.notification h2{font-size: 15px; font-weight: 400; line-height: 20px; color: #fff; margin-bottom: 3px;}
.notification p{font-size: 12px; line-height: 17px; color: #fff; padding: 0; margin: 0;}

.notificationBelowLogo{background: rgba(0,0,0, 0.9);  padding:10px;  border-radius: 5px; margin-top: 15px;}
.notificationBelowLogo h2{font-size: 15px; font-weight: 400; line-height: 20px; color: #fff; margin-bottom: 3px;}
.notificationBelowLogo p{font-size: 12px; line-height: 17px; color: #fff; padding: 0; margin: 0;}


















